<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>[[${book.title}]] - Bookinist.by</title>
</head>
<body>
	<h1>[[${book.title}]]</h1>
	<h2>[[${book.author}]]</h2>
	<p><img th:src="@{${book.coverUrl}}"/></p>
	
	<tbody>
	<tr th:each="photo : ${photos}">
            <td><p><img th:src="@{${photo.photoUrl}}"/></p></td>           
    </tr>
    </tbody>
    </table>
    
	<h3>[[${book.description}]]</h3>
	<p>Владелец: <a th:href="@{/user(username=${book.username})}">[[${book.username}]]</a></p>
	<p>Тип объявления: [[${book.adTypeRus}]]</p>
	<p>Статус: [[${book.status}]]</p>
	<p>Цена: [[${book.price}]] руб.</p>	
	<p>Наибольшая ставка: <a th:href="@{/user(username=${book.maxBetUsername})}">[[${book.maxBetUsername}]]</a></p>	
	<p>Дата окончания аукциона: [[${book.endTimeOfAuction}]]</p>
	
	<form th:if="${thisUserBookFlag}"
		th:action="@{/close}" method="get">
		<input type="submit" value="Закрыть объявление" />
	</form>
	<p></p>
	<form th:if="${thisUserBookFlag}"
		th:action="@{/redact}" method="get">
		<input type="submit" value="Редактировать" />
	</form>
	<p><h2>Комментарии</h2></p>
	
	<p th:if="${#httpServletRequest.getUserPrincipal()}==null">Чтобы оставлять комментарии <a th:href="@{/login}">войдите</a>, или <a th:href="@{/registration}">зарегестрируйтесь</a>.</p>
	
	<p><form th:if="${#httpServletRequest.getUserPrincipal()}!=null" th:action="@{/book/addcomment(bookId=${book.id})}" method="post">
		<div>
			<label><textarea name="comment" cols="50" rows="3"></textarea>
			</label>
		</div>
		<div>
			<input type="submit" value="Добавить комментарий" />
		</div>
	</form></p>
	
	<table>
	<tbody>
	<tr th:each="comment : ${comments}">
			<td th:text="${comment.date}"></td>
			<td th:text="${comment.username}"></td>
            <td th:text="${comment.message}"></td>
            <td><form th:if="${#httpServletRequest.getUserPrincipal()}!=null" th:action="@{/profile/loadin}" method="get">
					<input type="submit" value="Ответить"/>
				</form>
            </td>  
            <td><form th:if="${#httpServletRequest.getRemoteUser()}==${comment.username}" th:action="@{/profile/lo}" method="get">
					<input type="submit" value="Редактировать"/>
				</form>
            </td>
            <td><form th:if="${#httpServletRequest.getRemoteUser()}==${comment.username}" th:action="@{/profilin}" method="get">
					<input type="submit" value="Удалить"/>
				</form>
            </td>     
    </tr>
    </tbody>
    </table>
</body>
</html>