<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Bookinist.by</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bookinist.by</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
    </ul>
           
    
    <form class="search-form form-inline my-2 my-lg-0">
    	<input class="form-control sm-2" type="search" placeholder="Найти книгу" aria-label="Search" > 
    	<button type="button" class="btn btn-link"><i class="fas fa-search fa-1x "></i></button>
    </form>
	<a th:if="${#httpServletRequest.getUserPrincipal()}==null" th:href="@{/login}" class="btn btn-info" type="button">Вход</a>
	<div class="dropdown" th:if="${#httpServletRequest.getUserPrincipal()}!=null">
  		<button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	<i class="fas fa-book"></i>
  		</button>
  		<div class="dropdown-menu dropdown-menu-right" >
    			<a class="dropdown-item" th:href="@{/profile}">Профиль</a>
    			<a class="dropdown-item" th:href="@{/loadingbook}">Добавить книгу</a>
    			<a class="dropdown-item" th:href="@{/loadingbook}">Мои книги</a>
    			<a class="dropdown-item" th:href="@{/loadingbook}">Избранное</a>
    			 <div class="dropdown-divider"></div>
				<a><form  th:action="@{/logout}" method="post">
					<input class="btn btn-link pl-4" type="submit" value="Выйти" /></form>
				</a>
  		</div>
	</div>
  </div>
</nav>
    
<div class="row"> 
    <div class="col pl-4 pt-4" th:each="book : ${books}">
       	<div class="card" style="width: 18rem;">
  			<img th:src="@{${book.coverUrl}}" alt="Card image cap" class="card-img-top">
  			<div class="card-body">
    			<h5 class="card-title">[[${book.title}]]</h5>
    			<p class="card-text">[[${book.author}]]</p>
    			<a th:href="@{/book(bookId=${book.id})}" class="stretched-link"></a>
  			</div>
		</div>  	
    </div>
</div>
 
   

	

</body>
</html>