<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Регистрация</title>
</head>
<body>
	<div th:if="${usernameError}">Пользователь с таким именем уже существует.</div>
	<div th:if="${emptyFieldsError}">Для регистрации заполните все поля.</div>
	<div th:if="${notMatchingPasswordsError}">Не совпадают пароли. Попробуйте еще раз.</div>
	<div th:if="${emailCheckingError}">Проверьте адрес электронной почты. Он должен содержать символ "@".</div>
	<form th:action="@{/registration}" method="post">
		<div>
			<label> Имя пользователя: <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Адрес электронной почты: <input type="email" name="email" />
			</label>
		</div>
		<div>
			<label> Пароль: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<label> Повторите пароль: <input type="password" name="password2" />
			</label>
		</div>
		<div>
			<input type="submit" value="Зарегистрироваться" />
		</div>
	</form>
</body>
</html>